<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        .button-style {
            display: inline-block;
            background-color: #041fec;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="/fetch" class="button-style">Fetch Images</a>
    <br>
    <a href="/viewImages" class="button-style">View Images</a>
</body>
</html>
