<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Images</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Image Gallery</h1>
    <a href="/" class="button-style">home</a>
    <br>
    <a href="/add-image">Add Image</a>
    <ul class="image-list">
        <% items.forEach((item, index) => { %>
          <li>
            <img src="<%= item.url %>" alt="Cat Image" onclick="window.open(this.src, '_blank')">
            <div>
              <a href="#" onclick="confirmDelete('<%= index %>')">Delete</a>
              <br>
              <div><a href="/edit-image/<%= index %>">Edit</a></div>
            </div>
          </li>
        <% }) %>
      </ul>

      <script>
        function confirmDelete(index) {
            const confirmed = confirm("Are you sure you want to delete this cat image?");
            if (confirmed) {
                window.location.href = `/delete-image/${index}`;
            }
        }
        </script>
        
</body>
</html>
